@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Noto+Sans:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 200%;
  font-family: 'Noto Sans';
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.zprod {
  border-radius: 50%;
  width: 2rem;
}

.zprodtext {
  width: 2rem;
}

a {
  color: white;
}

.logo:hover {
  background-color: rgba(255, 255, 255, 0.539);
}

.logo {
  background-color: rgba(0, 0, 0, 0.539);
}

span {
  background-color: rgba(0, 0, 237, 0.25);
  border-radius: 5px;
}

.screenshot {
  display: fixed;
  width: 75%;
  margin-top: 2.5%;
  margin-left: 5%;
}

.title {
  background-color: rgba(0, 0, 0, 0.539);
  max-width: 60%;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 5%;
  text-align: center;
}

.instruction {
  margin-left: 5%;
  margin-top: 25%;
}

.instruction2 {
  margin-top: 15%;
  position: relative;
  margin-left: 45%;
}

.subinstruction2 {
  background-color: rgba(0, 0, 0, 0.539);
  background-size: 120%;
  border-radius: 20px;
  margin-top: 2.5%;
  margin-left: 45%;
  margin-bottom: 5%;
  max-width: 50%;
}

.download {
  background-size: 120%;
  border-radius: 20px;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  opacity: 0;
}

.introduction {
  opacity: 0;
}

.introduction.element-show {
  opacity: 1;
  transition: opacity 1s;
}

.functions {
  opacity: 0;
}

.functions.element-show {
  opacity: 1;
  transition: opacity 1s;
}

.download.element-show {
  opacity: 1;
  transition: opacity 1s;
}

.subinstruction3 {
  background-color: rgba(0, 0, 0, 0.539);
  border-radius: 20px;
}

@media only screen and (min-width: 0px) {
  @media only screen and (max-width: 480px) {
    @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Noto+Sans:wght@200&display=swap');

    * {
      margin: 0;
      padding: 0;
    }

    html {
      height: 100%;
      width: 100%;
    }

    body {
      font-size: 200%;
      font-family: 'Noto Sans';
      background-image: url(images/background.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: white;
    }

    .zprod {
      border-radius: 50%;
      width: 2rem;
    }

    .zprodtext {
      width: 2rem;
    }

    a {
      color: white;
    }

    .logo:hover {
      background-color: rgba(255, 255, 255, 0.539);
    }

    .logo {
      background-color: rgba(0, 0, 0, 0.539);
    }

    span {
      background-color: rgba(0, 0, 237, 0.25);
      border-radius: 5px;
    }

    .screenshot {
      display: fixed;
      width: 75%;
      margin-top: 2.5%;
      margin-left: 15%;
    }

    .title {
      background-color: rgba(0, 0, 0, 0.539);
      max-width: unset;
      border-radius: 20px;
      margin-left: unset;
      margin-top: 5%;
      text-align: center;
    }

    .instruction {
      margin-left: unset;
      margin-top: 25%;
      text-align: center;
    }

    .instruction2 {
      margin-top: 15%;
      position: relative;
      margin-left: unset;
      text-align: center;
    }

    .subinstruction2 {
      background-color: rgba(0, 0, 0, 0.539);
      background-size: 120%;
      border-radius: 20px;
      margin-top: 2.5%;
      margin-left: unset;
      margin-bottom: 5%;
      max-width: unset;
      text-align: center;
    }

    .download {
      background-size: 120%;
      border-radius: 20px;
      text-align: center;
      max-width: 80%;
      margin-left: 10%;
      opacity: 0;
      margin-top: 15%;
    }

    .introduction {
      opacity: 0;
    }

    .introduction.element-show {
      opacity: 1;
      transition: opacity 1s;
    }

    .functions {
      opacity: 0;
    }

    .functions.element-show {
      opacity: 1;
      transition: opacity 1s;
    }

    .download.element-show {
      opacity: 1;
      transition: opacity 1s;
    }

    .subinstruction3 {
      background-color: rgba(0, 0, 0, 0.539);
      border-radius: 20px;
    }
  }
}